<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['unprotected']">Home<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['protected', 'demo']">Demo</a>
      </li>

    </ul>
    <!-- Links -->

    <!-- Dropdown -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <a class="dropdown-item waves-light" mdbWavesEffect href="javascript:void(0)">Settings</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="javascript:void(0)" (click)="logout()">Logout</a>
            </div>
          </div>
        </a>
      </li>
    </ul>
   
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->