<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <!-- Default form login -->
        <form class="text-center border border-light p-5" #loginForm (ngSubmit)="login()">

            <p class="h4 mb-4">Sign in</p>

            <!-- Email -->
            <input type="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username" name="username" [(ngModel)]="username" autocomplete="off" required>

            <!-- Password -->
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password" [(ngModel)]="password" autocomplete="off" required>

            <!-- Sign in button -->
            <button mdbBtn color="info" class="my-4" type="submit" [disabled]="validateCreds()">Sign in</button>
            <button mdbBtn color="secondary" class="my-4" type="cancel" (click)="backToUnprotected()">Cancel</button>

            <div class="alert alert-danger" role="alert" *ngIf="loginFailed">
                {{errorMsg}}
            </div>
        </form>
        <!-- Default form login -->
    </div>
    <div class="col-4"></div>
</div>